<h1>Anmelden</h1>

<firebase-ui
  (signInSuccessWithAuthResult)="successCallback($event)"
  (signInFailure)="errorCallback($event)"
  (uiShown)="uiShownCallback()"
></firebase-ui>

<h3 *ngIf="alreadyLoggedIn">
  Sie sind bereits angemeldet. Sie werden in kürze weitergeleitet...
</h3>
