<div class="main-wrapper">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <a class="logo-wrapper" (click)="navigateToMainpage()">
        <img src="../assets/FOM.svg" />
        <h3>Projektarbeit</h3>
        <p-divider layout="vertical"></p-divider>
      </a>
    </ng-template>

    <ng-template pTemplate="end">
      <div *ngIf="currentUser" id="logged-in-user-wrapper">
        <p>Hallo, {{ currentUser.displayName ?? currentUser.email }}!</p>
        <img
          *ngIf="currentUser.photoURL"
          [src]="currentUser.photoURL"
          id="user-photo"
        />
        <button
          type="button"
          pButton
          label="Abmelden"
          icon="pi pi-power-off"
          style="margin-left: 0.25em"
          (click)="logoutUser()"
        ></button>
      </div>
      <button
        *ngIf="!currentUser"
        type="button"
        pButton
        label="Anmelden"
        icon="pi pi-user"
        style="margin-left: 0.25em"
        (click)="navigateToLogin()"
      ></button>
    </ng-template>
  </p-menubar>

  <router-outlet></router-outlet>

  <footer>
    <p>
      Hierbei handelt es sich um eine private Webseite, die rein zu
      bildungszwecken erstellt wurde.
    </p>
  </footer>
</div>
