#chat-wrapper {
  border: 3px solid #2196f3;
  margin: 2rem;
  padding: 2rem;
  height: 47rem;
  overflow: scroll;
  scroll-behavior: smooth;

  h1 {
    margin: 0;
  }

  .chat-message {
    margin-top: 1rem;

    .meta-infos {
      display: flex;
      justify-content: space-between;

      p {
        margin: 0;
        color: gray;

        &.time {
          font-size: 0.75rem;
        }
      }
    }

    .message-wrapper {
      display: flex;
      align-items: center;
      gap: 1rem;

      #user-photo {
        height: 3rem;
        border-radius: 1rem;
      }

      p {
        overflow-wrap: anywhere;
      }
    }

    .message {
      padding: 1rem;
      border-radius: 1rem;
      background-color: #2196f3;
      color: white;
    }
  }

  #chat-button {
    margin-top: 3rem;

    .p-float-label {
      input {
        width: 100%;
      }
    }
  }
}
